* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
}

.logo {
  width: 50px;
  margin-right: 300px;
}

.navbar {
  margin-top: 0px;
  position: -webkit-sticky;
  position: sticky;
}

.container-fluid {
  margin-top: 0;
  color: white;
}

.navbar ul {
  font-size: 20px;
}

.site-footer {
  height: 100px;
  margin-bottom: 0;
}

.redes a i {
  font-size: 20px;
}

.redes a i:hover {
  color: aqua;
}

.cuerpo {
  background-color: #fff;
}

.carousel {
  margin: 0px;
  width: 100%;
}

.carousel-inner {
  height: 30em;
}

.medios-de-pago {
  background-color: #eeeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.medios-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.descripcion a h4 {
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
}

.descripcion a {
  text-decoration: none;
}

.icono a i {
  color: gray;
  font-size: 50px;
}

.destacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  margin: 20px;
}

.form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d6d6d6;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  margin: 30px 0px;
}

.form label {
  font-size: 20px;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.datos {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  margin-left: 20px;
}

.titulo {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}

.redes {
  text-transform: uppercase;
}

.carousel-inner img {
  max-height: 500px;
}

btn--twitter {
  background-color: #55acee;
}

btn--facebook {
  background-color: #3a5795;
}

btn--instagram {
  background-color: #C25E30;
}

.horarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo-horarios {
  text-align: center;
  margin: 15px;
  font-size: 40px;
  font-weight: 400;
}

.parrafo-horarios {
  text-align: center;
  font-size: 18px;
}

.mapa {
  border-radius: 15%;
  text-align: center;
}

.mapa .localizacion {
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */