
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inconsolata', monospace;
}

.logo {
    width: 50px;
    margin-right: 300px;
}
.navbar{
    margin-top: 0px;
    position: sticky;
}
.container-fluid{
    margin-top: 0;
    color: white;
}
.navbar {
    ul {
        font-size: 20px;
    }
}    
.navbar .nav-link:hover{
    color:green;
}

.site-footer {
    min-height: 120px;
    margin-bottom: 0;
    width: 100%;
}

.redes a i {
    font-size: 20px;
}
.redes a i:hover {
    color: aqua;
}