
.cuerpo {
    background-color: #fff;
}

.carousel {
    margin: 0px;;
    width: 100%;
}

.carousel-inner {
    height: 30em;
}

.medios-de-pago{
    background-color:#eeeaea;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
}
.medios-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion a h3 {
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
.descripcion a{
    text-decoration: none;
}

.icono a i{
    color: gray;
}

.destacados{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}