.galeria img {
    width: 70%;
}

$degrade: linear-gradient(0deg, rgba(242,209,162,1) 0%, rgba(191,146,96,1) 100%);
.titulo {
    background: rgb(242,209,162);
background: $degrade;
    color: white;
}
$cuerpo:rgba(191,146,96,1);
.cuerpo {
    background-color: $cuerpo;
}

.carousel {
    margin-bottom: 10px;
}

.imagen-principal{
    display: flex;
        img {
            width: 100%;
            margin-bottom: 10px;
        }
}
